<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> 
        <ion-icon name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-img src= "../../assets/icon/foot.png"></ion-img>
    </ion-item>
  
  </ion-card>

  <ion-item>
    <ion-label position="floating">Enter your Steps</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-button class = "goal" color="success">Add Goal</ion-button>

</ion-content>
