.unit{
	margin:auto;
}

.select{
	max-width: 100% !important;
}

.directions {
	text-align: center;
	font: size 100px;
	margin: auto !important;
}

.input-wrapper {
	text-align: center;
	margin: auto;
}

.image-container {
	text-align: center;
}

.item-native {
	padding-left: 0;
}

ion-img {
	width: 200px;
	height: 200px;
	margin: auto;
}

ion-item {
	text-align: center !important;
	--padding-start: 0px;
	--inner-padding-end: 0px;
}

ion-input{
	border-bottom: 2px solid black;
}

ion-row {
	display: flex;
	margin: auto;
}

ion-col {
	margin: auto;
	margin-right: 10px;
	margin-left: 10px;
}

ion-button{
	margin:auto;
}