.unit{
    margin:auto;
}
ion-label{
    text-align: center;
    font: size 100px;
}
ion-item{
    text-align: center !important;
    margin:auto !important; 
}
ion-button{
	margin:auto;
}
.select{
    max-width: 100% !important;
}
#share{
    text-align: center !important;
}
p{
    color:white;
}