<ion-header>
  <ion-toolbar>
    <ion-title>Edit Sticker </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> 
        <ion-icon name="download" (click)="shareButton()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="hide-scrollbar">
	<!-- Sticker image --> 
	<ion-item class="image-container" lines="none">
		<ion-img src={{image}}></ion-img>
	</ion-item>
	
	<!-- Animation buttons component --> 
	<app-animation-buttons></app-animation-buttons>
	
	<!-- Input component (includes input and unit selector) --> 
	<app-input [(unit_selector)]="unit_selector" [(custom)]="custom" [(input_value)]="input_value" [(slider_input_value)]="slider_input_value" [(max_slider_value)]="max_slider_value" [(slider_image_url)]="slider_image_url" [(music_input_value)]="music_input_value" [(selected_unit)]="selected_unit"  [(domain)]="domain" [(unit_list)]="unit_list" [(unit_copy)]="unit_copy" [(music_selector)]="music_selector" [(goal)]="goal" [(goal_str)]="goal_str" [(domain_info)]="domain_info" (input_changed)="onInputChange($event)" (unit_changed)="onUnitChange($event)"></app-input>
		
	<!-- Add/Remove Goal --> 
	<ion-item lines="none">
		<ion-row>
			<ion-col col-6 *ngIf="goal == 'REMOVE'">
				<ion-input class="goal" value={{goal_str}}></ion-input>{{music_str}}
			</ion-col>
      <ion-col col-6>
        <ion-button class="addGoalButton" color={{domain}} (click)="toggleGoal()">
					<ion-icon *ngIf="goal == 'ADD GOAL'" name="add"></ion-icon>
					<ion-icon *ngIf="goal == 'REMOVE'" name="trash"></ion-icon>
       {{goal}}</ion-button> 
      </ion-col>
		</ion-row>
  </ion-item>
		

	
</ion-content>

<ion-footer>
	<ion-toolbar  color={{domain}}>
	  
	  	<!-- Share to Snapchat banner --> 
	<ion-item class="share-banner" lines="none"  color={{domain}}>
		<!--NOTE: sticker must be 1000x1000 pixels or it will not load-->
		<ion-label class="share-label">Share to Snapchat</ion-label>
		<ion-icon class="share-icon" name="arrow-forward"></ion-icon>
		<app-send-to-snapchat class="share-button" sticker="testanim_meta"></app-send-to-snapchat>
	</ion-item>
	</ion-toolbar>
  </ion-footer>
