<ion-header>
  <ion-toolbar>
    <ion-title>Edit Sticker </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> 
        <ion-icon name="download" (click)="shareButton()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="hide-scrollbar">
	<!-- Sticker image --> 
	<ion-item class="image-container" lines="none">
		<ion-img src={{image}}></ion-img>
	</ion-item>
	
	<!-- Animation buttons --> 
	<ion-item lines="none">
		<ion-row>
			<!-- Pulse animation --> 
			<ion-col>
				<ion-icon name="pulse" (click)="pulseAnimation()"></ion-icon>
			</ion-col>
			<!-- Shake animation --> 
			<ion-col>
				<ion-icon name="radio" (click)="shakeAnimation()"></ion-icon>
			</ion-col>
			<!-- Fill animation (goal only) --> 
			<ion-col>
				<ion-icon name="color-fill" (click)="fillAnimation()"></ion-icon>
			</ion-col>
			<!-- Count up animation (analogy/no goal) --> 
			<ion-col>
				<ion-icon name="arrow-up" (click)="countAnimation()"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-item>
	
	<!-- Input box and unit selector --> 
  <ion-item lines="none">
    <ion-label class="input_label" position="floating" color={{domain}}>Enter your amount of {{selected_unit}}</ion-label>
    <ion-row class = "unit">
      <ion-col col-6> 
        <ion-input [(ngModel)]="input_value" (ngModelChange)="updateInputValue()"> </ion-input>
      </ion-col>
      <ion-col col-6>
        <ion-select class="select" [(ngModel)]="unit_selector" [interfaceOptions]="customPopoverOptions" interface="popover" (ngModelChange)="unitChanged(unit_selector)">
          <ion-select-option *ngFor="let op1 of unit_list" value={{op1}}> {{op1}}</ion-select-option>
          <ion-select-option value="custom"> {{custom}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
	</ion-item>
	
	<!-- Input slider --> 
	<ion-range *ngIf="unit_copy.includes(unit_selector)" color={{domain}} min="0" max={{max_slider_value}} step="1" [(ngModel)]="slider_input_value" (ngModelChange)="updateInputValueFromSlider()">
		<ion-icon class="slider-icon-left" size="small" slot="start" src={{slider_image_url}}></ion-icon>
		<ion-icon class="slider-icon-right" slot="end" src={{slider_image_url}}></ion-icon>
	</ion-range>
	
	<!-- Additional input for music domain --> 
	<ion-item *ngIf ="domain == 'music'" lines="none">
		<ion-row class = "unit">
			<ion-col size="3"> 
				<ion-text>of</ion-text>
			</ion-col>
			<ion-col>
				<ion-input [(ngModel)]="music_input_value"> </ion-input>
			</ion-col>
		</ion-row>
	</ion-item>
		
	<!-- Add/Remove Goal --> 
	<ion-item lines="none">
		<ion-row>
			<ion-col col-6 *ngIf="goal == 'REMOVE'">
				<ion-input class="goal" value={{goal_str}}></ion-input>{{music_str}}
			</ion-col>
      <ion-col col-6>
        <ion-button class="addGoalButton" color={{domain}} (click)="toggleGoal()">
					<ion-icon *ngIf="goal == 'ADD GOAL'" name="add"></ion-icon>
					<ion-icon *ngIf="goal == 'REMOVE'" name="trash"></ion-icon>
       {{goal}}</ion-button> 
      </ion-col>
		</ion-row>
  </ion-item>
		
	<!-- Share to Snapchat banner --> 
	<ion-item class="share-banner" lines="none" color={{domain}} >
		<!--NOTE: sticker must be 1000x1000 pixels or it will not load-->
		<ion-label class="share-label">Share to Snapchat</ion-label>
		<ion-icon class="share-icon" name="arrow-forward"></ion-icon>
		<app-send-to-snapchat class="share-button" sticker="testanim_meta"></app-send-to-snapchat>
	</ion-item>
	
</ion-content>