<ion-content class="hide-scrollbar" color="steps">
	
	<!-- This grid is a placeholder; will be dynamically rendered with ngFor --> 
	<ion-grid>
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/2-02.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/plain-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/track-11.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/plain-18.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/rhino-28.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/embellished-09.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/2-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/2-14.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/plain-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/foot.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/embellished-13.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/giraffe-08.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/GG bridge-35.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/plain-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/embellished-02.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/2-02.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/plain-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/steps/track-11.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>