// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

@font-face {
	font-family: 'Avenir Next Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/fonts/AvenirNext-Bold.otf')
}

:root {
	--ion-font-family: 'Avenir Next Bold';

  /** primary (modified to be gray for the home screen) **/
  --ion-color-primary: #5c5c5c;
  --ion-color-primary-rgb: 92, 92, 92;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5c5c5c;
  --ion-color-primary-tint: #5c5c5c;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

	/* NOTE: for all cutstom colors, share button color is -shade, tab bar highlight color is -tint */
	/** custom color for steps page **/
	--ion-color-steps: #35a8a1;
  --ion-color-steps-rgb: 42,48,48;
  --ion-color-steps-contrast: #ffffff;
  --ion-color-steps-contrast-rgb: 255,255,255;
  --ion-color-steps-shade: #77cdc8;
  --ion-color-steps-tint: #D5efee;

	/* custom color for heart rate page */
	--ion-color-heartbeat: #f27c4c;
	--ion-color-heartbeat-rgb: 242,124,76;
	--ion-color-heartbeat-contrast: #ffffff;
	--ion-color-heartbeat-contrast-rgb: 255,255,255;
	--ion-color-heartbeat-shade: #f4a482;
	--ion-color-heartbeat-tint: #ffe5db;

	/* custom color for calories page */
	--ion-color-calories: #7d7aa2;
  --ion-color-calories-rgb: 125,122,162;
  --ion-color-calories-contrast: #ffffff;
  --ion-color-calories-contrast-rgb: 255,255,255;
  --ion-color-calories-shade: #6a29fd4;
  --ion-color-calories-tint: #e5e4ee;

	/* custom color for time page */
	--ion-color-time: #d85372;
  --ion-color-time-rgb: 216,83,114;
  --ion-color-time-contrast: #ffffff;
  --ion-color-time-contrast-rgb: 255,255,255;
  --ion-color-time-shade: #e8899f;
  --ion-color-time-tint: #f9dce3;

	/* custom color for music page */
	--ion-color-music: #5a819e;
	--ion-color-music-rgb: 90,129,158;
	--ion-color-music-contrast: #ffffff;
	--ion-color-music-contrast-rgb: 255,255,255;
	--ion-color-music-shade: #78a9ce;
	--ion-color-music-tint: #dee6ee;

		/* button */
	--ion-color-button: #4C8985;
  --ion-color-button-rgb: 76, 137, 133;
  --ion-color-button-contrast: #ffffff;
  --ion-color-button-contrast-rgb: 255,255,255;
  --ion-color-button-shade: #4C8985;
  --ion-color-button-tint: #4C8985;
}

.ion-color-steps {
  --ion-color-base: var(--ion-color-steps);
  --ion-color-base-rgb: var(--ion-color-steps-rgb);
  --ion-color-contrast: var(--ion-color-steps-contrast);
  --ion-color-contrast-rgb: var(--ion-color-steps-contrast-rgb);
  --ion-color-shade: var(--ion-color-steps-shade);
  --ion-color-tint: var(--ion-color-steps-tint);
}

.ion-color-music {
  --ion-color-base: var(--ion-color-music);
  --ion-color-base-rgb: var(--ion-color-music-rgb);
  --ion-color-contrast: var(--ion-color-music-contrast);
  --ion-color-contrast-rgb: var(--ion-color-music-contrast-rgb);
  --ion-color-shade: var(--ion-color-music-shade);
  --ion-color-tint: var(--ion-color-music-tint);
}

.ion-color-calories {
  --ion-color-base: var(--ion-color-calories);
  --ion-color-base-rgb: var(--ion-color-calories-rgb);
  --ion-color-contrast: var(--ion-color-calories-contrast);
  --ion-color-contrast-rgb: var(--ion-color-calories-contrast-rgb);
  --ion-color-shade: var(--ion-color-calories-shade);
  --ion-color-tint: var(--ion-color-calories-tint);
}

.ion-color-time {
  --ion-color-base: var(--ion-color-time);
  --ion-color-base-rgb: var(--ion-color-time-rgb);
  --ion-color-contrast: var(--ion-color-time-contrast);
  --ion-color-contrast-rgb: var(--ion-color-time-contrast-rgb);
  --ion-color-shade: var(--ion-color-time-shade);
  --ion-color-tint: var(--ion-color-time-tint);
}

.ion-color-heartbeat {
  --ion-color-base: var(--ion-color-heartbeat);
  --ion-color-base-rgb: var(--ion-color-heartbeat-rgb);
  --ion-color-contrast: var(--ion-color-heartbeat-contrast);
  --ion-color-contrast-rgb: var(--ion-color-heartbeat-contrast-rgb);
  --ion-color-shade: var(--ion-color-heartbeat-shade);
  --ion-color-tint: var(--ion-color-heartbeat-tint);
}

.ion-color-button {
	--ion-color-base: var(--ion-color-button);
	--ion-color-base-rgb: var(--ion-color-button-rgb);
  --ion-color-contrast: var(--ion-color-button-contrast);
  --ion-color-contrast-rgb: var(--ion-color-button-contrast-rgb);
  --ion-color-shade: var(--ion-color-button-shade);
  --ion-color-tint: var(--ion-color-button-tint);
}
