<ion-footer>
  <ion-toolbar>
	<ion-tabs>
	  <ion-tab-bar slot="bottom">
		
		<ion-tab-button (click)='goToStepsPage()'>
		  <ion-icon name="walk"></ion-icon>
			<ion-label>Steps</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToMusicPage()'>
		  <ion-icon name="musical-notes"></ion-icon>
			<ion-label>Music</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToCaloriesPage()'>
		  <ion-icon name="flame"></ion-icon>
			<ion-label>Calories</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToTimePage()'>
		  <ion-icon name="time"></ion-icon>
			<ion-label>Time</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToHeartratePage()'>
		  <ion-icon name="heart"></ion-icon>
			<ion-label>Heart Rate</ion-label>
		</ion-tab-button>
		
	  </ion-tab-bar>
	</ion-tabs>
  </ion-toolbar>
</ion-footer>