<ion-footer>
  <ion-toolbar>
	<ion-tabs>
	  <ion-tab-bar slot="bottom">
		
		<ion-tab-button (click)='goToStepsPage()'>
		  <ion-icon src="../../assets/icon/footprint.svg"></ion-icon>
			<ion-label>Steps</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToMusicPage()'>
		  <ion-icon src="../../assets/icon/bxs-music.svg"></ion-icon>
			<ion-label>Music</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToCaloriesPage()'>
		  <ion-icon src="../../assets/icon/bxs-hot.svg"></ion-icon>
			<ion-label>Calories</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToTimePage()'>
		  <ion-icon src="../../assets/icon/bxs-time-five.svg"></ion-icon>
			<ion-label>Time</ion-label>
		</ion-tab-button>
		
		<ion-tab-button (click)='goToHeartratePage()'>
		  <ion-icon src="../../assets/icon/bxs-heart.svg"></ion-icon>
			<ion-label>Heart Rate</ion-label>
		</ion-tab-button>
		
	  </ion-tab-bar>
	</ion-tabs>
  </ion-toolbar>
</ion-footer>