<ion-button (click)="shareFacebook()"> 
  <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
</ion-button>

<ion-button (click)="shareIns()"> 
  <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
</ion-button>

<ion-button (click)="shareSMS()"> 
  <ion-icon ios="ios-text" md="md-text"></ion-icon>
</ion-button>

<ion-button (click)="shareTwitter()"> 
  <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
</ion-button>

<ion-button > 
  <ion-icon ios="logo-snapchat" md="logo-snapchat"></ion-icon>
</ion-button>
