<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
</ion-content>

<app-navigationbar></app-navigationbar>

<!--
<ion-tabs>
  <ion-tab-bar slot="bottom">
	
		<ion-tab-button tab="steps">
			<ion-icon name="walk"></ion-icon>
		</ion-tab-button>
		
		<ion-tab-button tab="heartrate">
			<ion-icon name="heart"></ion-icon>
		</ion-tab-button>
		
		<ion-tab-button tab="calories">
			<ion-icon name="flame"></ion-icon>
		</ion-tab-button>
		
		<ion-tab-button tab="time">
			<ion-icon name="time"></ion-icon>
		</ion-tab-button>
		
		<ion-tab-button tab="music">
			<ion-icon name="musical-notes"></ion-icon>
		</ion-tab-button>
		
  </ion-tab-bar>
</ion-tabs>
-->
