<ion-content class="ion-padding" color="primary">
    <br>
    <ion-card class="idDisplay" *ngIf="idEntered">
        <ion-card-content>
            <h2>User ID: {{userId}}</h2><br>
            <!-- <h2>Health permission: {{healthPermission}}</h2> -->
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-tabs *ngIf="idEntered">
    <ion-tab-bar slot="bottom">

        <ion-tab-button class="steps-tab" tab="steps" (click)="tabClickedEvent('steps')">
            <ion-icon src="../../assets/icon/footprint.svg"></ion-icon>
            <ion-label>Steps</ion-label>
        </ion-tab-button>

        <ion-tab-button class="heartbeat-tab" tab="heartbeat" (click)="tabClickedEvent('heartbeat')">
            <ion-icon name="heart"></ion-icon>
            <ion-label>Heartbeat</ion-label>
        </ion-tab-button>

        <ion-tab-button class="calories-tab" tab="calories" (click)="tabClickedEvent('calories')">
            <ion-icon name="pizza"></ion-icon>
            <ion-label>Food</ion-label>
        </ion-tab-button>

        <ion-tab-button class="time-tab" tab="time" (click)="tabClickedEvent('time')">
            <ion-icon name="time"></ion-icon>
            <ion-label>Time</ion-label>
        </ion-tab-button>

        <ion-tab-button class="music-tab" tab="music" (click)="tabClickedEvent('music')">
            <ion-icon name="musical-notes"></ion-icon>
            <ion-label>Music</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>
