.steps.tab-selected {
	--background: #d5efee !important; 
}

.heartrate.tab-selected {
	--background: #dee6ee !important;
}

.calories.tab-selected {
	--background: #e5e4ee !important;
}

.time.tab-selected {
	--background: #f9dce3 !important;
}

.music.tab-selected {
	--background: #ffe5db !important;
}

ion-content {
	text-align: center;
}