ion-content {
	text-align: center;
}

ion-tab-bar {
	// padding: 0.3em;
}

ion-tab-button {
	border-radius: 10px;
}

ion-card{
	background-color: white;
}

ion-card-content{
	padding-bottom: 20px;
}
  
ion-card-subtitle{
	text-align: center;
	padding: 20px;
}

ion-input{
	border-bottom: 2px solid black;
}

ion-button {
	position: relative;
	z-index: 100;
	--background: white;
	--color: black;
}

.idDisplay {
	padding-top: 20px;
}

.md ion-tab-button {
	--padding-start: 2px;
	--padding-end: 2px;
	max-width: 240px;
	font-size: 10px;
}

.md ion-icon {
	height: 30px;
	width: 30px;
}

.steps-tab.tab-selected {
	--background: var(--ion-color-steps-tint) !important; 
}

.heartbeat-tab.tab-selected {
	--background: var(--ion-color-heartbeat-tint) !important;
}

.calories-tab.tab-selected {
	--background: var(--ion-color-calories-tint) !important;
}

.time-tab.tab-selected {
	--background: var(--ion-color-time-tint) !important;
}

.music-tab.tab-selected {
	--background: var(--ion-color-music-tint) !important;
}

#login{
	font-size: 20px;
	padding:10px;
	
}