<ion-header class="ion-no-border" >
  <ion-toolbar>
	<ion-title *ngIf="global.recent_use.length == 0"  color={{domain}}>Select stickers</ion-title>
	<ion-label *ngIf="global.recent_use.length > 0" color={{domain}}> Recently Used </ion-label>
	<ion-item *ngIf="global.recent_use.length > 0" lines= none>
	  <app-recent-use  [(domain)]="domain"></app-recent-use>
	</ion-item>
	<ion-buttons slot="end">
	  <ion-button color={{domain}} (click)="clearUserIdAndDomain()">
		<ion-icon name="refresh"></ion-icon>
	  </ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="hide-scrollbar" color={{domain}}>
  <ion-grid>	
	<ion-row *ngFor="let row of imageArray">
	  <ion-col *ngFor="let image of row">
		<img [src]="image" (click)="goToCreateStickerPage(image)" >
	  </ion-col>
	</ion-row>
  </ion-grid>
</ion-content>