<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title
      *ngIf="!recentUse.stickerArray"
      color="{{domain}}"
      >Select stickers</ion-title
    > -->
    <ion-title
      color="{{domain}}"
      >Select stickers</ion-title
    >
    <!-- <ion-label
      *ngIf="recentUse.stickerArray && recentUse.stickerArray.length > 0"
      color="{{domain}}"
    >
      Recently Used
    </ion-label>
    <ion-item
      *ngIf="recentUse.stickerArray && recentUse.stickerArray.length > 0"
      lines="none"
    >
      <app-recent-use
        [(stickerArray)]="recentUse.stickerArray"
      ></app-recent-use>
    </ion-item> -->
    <ion-buttons slot="end">
      <ion-button color={{domain}} (click)="presentSettingsModal()">
      <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="hide-scrollbar" color="{{domain}}">
  <ion-grid>
    <ion-row *ngFor="let row of imageArray">
      <ion-col *ngFor="let config of row">
        <img [src]="config.imageURL" (click)="goToCreateStickerPage(config)" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
