<ion-content class="hide-scrollbar" color="heartrate">
	
	<!-- This grid is a placeholder; will be dynamically rendered with ngFor --> 
	<ion-grid>
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/embellished-05.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-09.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-04.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/plain-04.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/embellished-15.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/plain-15.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-08.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/bpm.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/05.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-09.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-04.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/plain-04.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/heart rate/7-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>

<app-navigationbar></app-navigationbar>