<ion-content class="hide-scrollbar" color="heartrate">
	
	<!-- This grid is a placeholder; will be dynamically rendered with ngFor --> 
	<ion-grid>
		<ion-row>
			<ion-col>
				<div>
					<img [src]= "img1" (click)="goToCreateStickerPage(img1)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src] = "img2" (click)="goToCreateStickerPage(img2)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]= "img3"(click)="goToCreateStickerPage(img3)">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img [src]="img4"(click)="goToCreateStickerPage(img4)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img5"(click)="goToCreateStickerPage(img5)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img6"(click)="goToCreateStickerPage(img6)">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img [src]= "img7" (click)="goToCreateStickerPage(img7)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img8"(click)="goToCreateStickerPage(img8)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img9" (click)="goToCreateStickerPage(img9)">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img [src] ="img10" (click)="goToCreateStickerPage(img10)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img11" (click)="goToCreateStickerPage(img11)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img12" (click)="goToCreateStickerPage(img12)">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img [src]="img13" (click)="goToCreateStickerPage(img13)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img14" (click)="goToCreateStickerPage(img14)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]= "img15" (click)="goToCreateStickerPage(img15)">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img [src]= "img16" (click)="goToCreateStickerPage(img16)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]= "img17" (click)="goToCreateStickerPage(img17)">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img [src]="img18" (click)="goToCreateStickerPage(img18)">
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>