<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>User ID</ion-label>
    <ion-input type="text" class="ion-text-right" [(ngModel)]="idInput" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Health Permission</ion-label>
    <ion-button *ngIf="this.healthPermission == false" (click)="getHealthPermission()">Health</ion-button>
    <ion-label class="ion-text-right" *ngIf="this.healthPermission == true">Granted</ion-label>
    <!-- <ion-toggle [(ngModel)]="healthPermission"></ion-toggle> -->
  </ion-item><ion-item>
    <ion-label>Spotify Permission</ion-label>
    <ion-button *ngIf="this.spotifyPermission == false" (click)="getSpotifyPermission()">Spotify</ion-button>
    <ion-label class="ion-text-right" *ngIf="this.spotifyPermission == true">Granted</ion-label>
    <!-- <ion-toggle [(ngModel)]="spotifyPermission"></ion-toggle> -->
  </ion-item>
  <div class="buttonContainer">
    <ion-button (click)="clearAllSettings()">Clear All</ion-button>
    <ion-button (click)="closeModal()">Close</ion-button>
  </div>
</ion-content>
