ion-input {
    border-bottom: 2px solid black;
    margin-left: 30%;
    margin-right: 5%;
}

ion-toggle {
    margin-right: 5%;
}

ion-button {
    margin-top: 10px;
}

.buttonContainer {
    text-align: center;
}