<div class="search">
  <ion-searchbar [(ngModel)]="queryText" placeholder="Search food items..."></ion-searchbar>
  <ion-button fill="clear" (click)="getFoodData($event)">Search</ion-button>
</div>

<ion-list>
  <ion-item *ngFor="let item of foodData">
    <app-food-item
      [imageUrl] = "item.image"
      [itemName] = "item.name"
      [nutrients] = "item.nutrients"
      [selectedNutrient] = "selectedNutrient"
      (totalNutrientsChanged)="onTotalNutrientsChanged($event)">
    </app-food-item>
  </ion-item>
</ion-list>
