<!-- Input box and unit selector -->
<ion-item lines="none">
    <ion-label class="input_label" position="floating" color="{{ global.stickerInfo.domain }}">Enter your amount of {{ selected_unit }}</ion-label>
    <ion-row class="unit">
        <ion-col col-6 *ngIf="global.stickerInfo.domain != 'time'">
            <ion-input type="text" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" minlength="0" maxlength="10" button-char="," decimal-char="." [(ngModel)]="global.stickerInfo.value" (click)="global.stickerInfo.domain == 'music'? presentSpotifyAlert() : presentHealthAlert()" (ngModelChange)="updateInputValue()"></ion-input>
        </ion-col>

        <ion-col col-6 *ngIf="
        global.stickerInfo.domain == 'time' &&
        global.stickerInfo.unit != 'hour:minute'
      ">
            <ion-input *ngIf="global.stickerInfo.unit != 'hour:minute'" type="text" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" minlength="0" maxlength="10" button-char="," decimal-char="." [(ngModel)]="global.stickerInfo.hour" (ngModelChange)="updateInputValue()"></ion-input>
        </ion-col>

        <ion-col col-3 id="time-col" *ngIf="
        global.stickerInfo.domain == 'time' &&
        global.stickerInfo.unit == 'hour:minute'
      ">
            <ion-input type="text" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" minlength="0" maxlength="2" button-char="," decimal-char="." [(ngModel)]="global.stickerInfo.hour" (ngModelChange)="updateInputValue()"></ion-input>
        </ion-col>
        <p *ngIf="
        global.stickerInfo.domain == 'time' &&
        global.stickerInfo.unit == 'hour:minute'
      ">
            :
        </p>
        <ion-col col-3 id="time-col" *ngIf="
        global.stickerInfo.domain == 'time' &&
        global.stickerInfo.unit == 'hour:minute'
      ">
            <ion-input type="text" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" minlength="0" maxlength="2" button-char="," decimal-char="." [(ngModel)]="global.stickerInfo.min" (ngModelChange)="updateInputValue()"></ion-input>
        </ion-col>

        <ion-col col-6 *ngIf="global.stickerInfo.domain != 'music'">
            <ion-select class="select" [(ngModel)]="global.stickerInfo.unit" [interfaceOptions]="customPopoverOptions" interface="popover" (ngModelChange)="unitChanged()">
                <ion-select-option *ngFor="let op1 of unit_list" value="{{ op1 }}">
                    {{ op1 }}</ion-select-option>
                <ion-select-option value="custom"> {{ custom }}</ion-select-option>
            </ion-select>
        </ion-col>

        <ion-col col-6 *ngIf="global.stickerInfo.domain == 'music'">
            <ion-select class="select" [(ngModel)]="music_unit" [interfaceOptions]="customPopoverOptions" interface="popover" (ngModelChange)="unitChanged()">
                <ion-select-option *ngFor="let op1 of unit_list" value="{{ op1 }}">
                    {{ op1 }}</ion-select-option>
                <ion-select-option value="custom"> {{ custom }}</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
    <ion-row class="unit" *ngIf="global.stickerInfo.domain == 'music'">
        <ion-col size="1">
            <ion-text>of</ion-text>
        </ion-col>
        <ion-col size="6">
            <ion-input [(ngModel)]="music_category" (ngModelChange)="updateMusicInputValue()">
            </ion-input>
        </ion-col>

        <ion-col size="2">
            <ion-button (click)="getplaylist()">
                get playlist
            </ion-button>
        </ion-col>
    </ion-row>
</ion-item>

<!-- Additional input for music domain -->

<!-- Add/Remove Goal -->
<ion-item *ngIf="canAddGoal" lines="none">
    <ion-row>
        <ion-col col-6 *ngIf="global.stickerInfo.hasGoal&&
    global.stickerInfo.unit != 'hour:minute'">
            <ion-input class="goal" [(ngModel)]="global.stickerInfo.goal" (ngModelChange)="updateInputValue()"></ion-input>
        </ion-col>
        <ion-col col-3 *ngIf="global.stickerInfo.hasGoal&&
    global.stickerInfo.unit == 'hour:minute'">
            <ion-input class="goal" [(ngModel)]="global.stickerInfo.goal_hour" (ngModelChange)="updateInputValue()"></ion-input>
        </ion-col>
        <p *ngIf="global.stickerInfo.hasGoal&&
    global.stickerInfo.unit == 'hour:minute'">:</p>
        <ion-col col-3 *ngIf="global.stickerInfo.hasGoal&&
    global.stickerInfo.unit == 'hour:minute'">
            <ion-input class="goal" [(ngModel)]="global.stickerInfo.goal_min" (ngModelChange)="updateInputValue()"></ion-input>
        </ion-col>

        <ion-col col-6>
            <ion-button class="addGoalButton" *ngIf="this.global.stickerInfo.canAddGoal" color="{{ global.stickerInfo.domain }}" (click)="toggleGoal()">
                <ion-icon *ngIf="!global.stickerInfo.hasGoal" name="add"></ion-icon>
                <span *ngIf="!global.stickerInfo.hasGoal">ADD GOAL</span>
                <ion-icon *ngIf="global.stickerInfo.hasGoal" name="trash"></ion-icon>
                <span *ngIf="global.stickerInfo.hasGoal">REMOVE</span>
            </ion-button>
            <span *ngIf="!this.global.stickerInfo.canAddGoal">goal</span>
        </ion-col>
    </ion-row>
</ion-item>
