ion-item {
  text-align: center !important;
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

ion-img {
  height: 151px;
  width: 151px;
  margin: auto;
}

.image-container {
  text-align: center;
}

#sticker {
	width: 250px;
	margin: auto;
}