<ion-content class="hide-scrollbar" color="calories">
	
	<!-- This grid is a placeholder - will be rendered with ngFor directive --> 
	<ion-grid>
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/4-06.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/8-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/plain-14.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/plain-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/embellished-14.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/8-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/8-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/8-06.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/embellished-11.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/plain-10.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/4-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/embellished-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/4-06.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/8-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/plain-14.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/plain-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/embellished-14.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/calories/8-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>