<ion-header>
  <ion-toolbar>
    <ion-title>Rendering</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> 
        <ion-icon name="download" (click)="shareButton()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!imageLoaded"></ion-spinner>
  <ion-img [src]="imageFromServer" *ngIf="imageLoaded"></ion-img>
  <div padding>{{url}}</div>
</ion-content>

<ion-toolbar color={{global.stickerInfo.domain}}>
	<!-- Share to Snapchat banner --> 
	<ion-item class="share-banner" lines="none" color={{global.stickerInfo.domain}}>
		<!--NOTE: sticker must be 1000x1000 pixels or it will not load-->
		<div class="share-banner-content">
			<app-send-to-snapchat class="share-button" sticker="testanim_meta" (click)="addToRecentUse()"></app-send-to-snapchat>
		</div>
	</ion-item>
</ion-toolbar>