

.share-banner-content {
	margin: 0 auto;
}

ion-img {
  height: 150px;
  width: 150px;
  margin: auto;
}

ion-spinner {
  display: block;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 10%;
}
ion-card-subtitle{
  text-align: center;
  padding: 10px;
}