

.share-banner-content {
	margin: 0 auto;
}

.renderedImage {
  height: 150px;
  width: 150px;
  margin: auto;
  margin-top: 15%;
}

.errorMessage {
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

.errorMessageIcon {
  margin: auto;
  margin-top: 15%;
}

ion-spinner {
  display: block;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 10%;
}
ion-card-subtitle{
  text-align: center;
  padding: 10px;
}