ion-item {
    background-color: rgba(196, 191, 191, 0.1);
    border-radius: 5px;
    align-items: flex-start;
    float: left;
    
}

ion-grid {
    padding: 0;
}
ion-img{
    width: 100%;
}
ion-label{
    position: fixed;
}