<ion-content class="hide-scrollbar" color="music">
	
	<!-- This grid is a placeholder; will be dynamically rendered with ngFor --> 
	<ion-grid>
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-08.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/embellished-04.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-06.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/plain-05.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-09.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/plain-06.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-02.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/embellished-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/embellished-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/plain-13.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-10.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/plain-05.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/6-08.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/music/embellished-04.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>

<app-navigationbar></app-navigationbar>