<ion-content class="hide-scrollbar" color="time">
	
	<!-- This grid is a placeholder; will be dynamically rendered with ngFor --> 
	<ion-grid>
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-02.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-06.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/embellished-10.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/plain-09.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-09.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/plain-02.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/embellished-03.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-08.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/plain-12.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-07.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/plain-09.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/embellished-08.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-02.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-01.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
			<ion-col>
				<div>
					<img src="../../../assets/stickers/time/5-06.png" (click)="goToCreateStickerPage()">
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>