ion-item {
	text-align: center !important;
	--padding-start: 0px;
	--inner-padding-end: 0px;
}

ion-row {
	display: flex;
	margin: auto;
}

ion-col {
	margin: auto;
	margin-right: 2px;
	margin-left: 2px;
}

ion-button {
	--padding-start: 0;
	--padding-end: 0;

}

ion-button:hover ion-icon {
	background-color:#fcf700a9;
	//border: 1px solid black;
}

