<!-- Animation buttons --> 
<ion-item lines="none">
	<ion-row>
		<!-- Pulse animation --> 
		<ion-col>
			<ion-icon name="pulse" (click)="pulseAnimation()"></ion-icon>
		</ion-col>
		<!-- Shake animation --> 
		<ion-col>
			<ion-icon name="radio" (click)="shakeAnimation()"></ion-icon>
		</ion-col>
		<!-- Fill animation (goal only) --> 
		<ion-col>
			<ion-icon name="color-fill" (click)="fillAnimation()"></ion-icon>
		</ion-col>
		<!-- Count up animation (analogy/no goal) --> 
		<ion-col>
			<ion-icon name="arrow-up" (click)="countAnimation()"></ion-icon>
		</ion-col>
	</ion-row>
</ion-item>
