.time-segment {
  padding-top: 32px;
  padding-bottom: 16px;
  width: 90vw;
  margin: auto;
}

.div-chart {
  display: block;
  position: relative;
  margin-bottom: 32px;
}

.range-slider-container {
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  width: 100vw;
}

ion-range {
  padding-left: 50px;
  padding-right: 20px;
  --ion-text-color-rgb: none; // removes tick marks
  --bar-background: none;
  --bar-background-active: none;
}

ion-range::part(tick) {
  background: none;
}

.dataSum {
  text-align: center;
}
