<!-- Day/Week/Month segmented control -->
<ion-segment class="time-segment" (ionChange)="segmentChanged($event)" value="day">
  <ion-segment-button value="day">
    <ion-label>Day</ion-label>
  </ion-segment-button>
  <ion-segment-button value="week">
    <ion-label>Week</ion-label>
  </ion-segment-button>
  <ion-segment-button value="month">
    <ion-label>Month</ion-label>
  </ion-segment-button>
</ion-segment>


<div class="div-chart">

  <!-- Chart -->
  <canvas #myChart id="myChart" width="375" height="300"></canvas>

  <!-- Range slider -->
  <div class="range-slider-container">
    <ion-range
      color="none"
      dualKnobs="true"
      min="0"
      [max]="getNumberOfTicks()"
      step="1"
      snaps="true"
      [(ngModel)]="knobValues"
      (ionChange)="rangeSliderChanged()">
      <div part="tick" class="range-tick"></div>
    </ion-range>
  </div>

</div>


<div class="dataSum">
  <p>Number of steps: {{ dataSum }}</p>
</div>
