<ion-header>
  <ion-toolbar>
    <ion-title>Select Data</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" (click)="dismiss()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="global.stickerInfo.domain == 'calories'; else elseBlock">
    <!-- Food selection component -->
    <app-food-selection
      selectedMeasurement="potassium"
      (totalCaloriesChanged)="onTotalCaloriesChanged($event)">
    </app-food-selection>
  </div>
  <ng-template #elseBlock>
    <!-- Chart component -->
    <app-chart
      [dataValue]="dataValue"
      (dataValueChanged)="onDataValueChanged($event)">
    </app-chart>
  </ng-template>

</ion-content>

<ion-footer *ngIf="global.stickerInfo.domain == 'calories'">
  <ion-toolbar>
    <h6>Total Calories: {{ totalCalories }}</h6>
  </ion-toolbar>
</ion-footer>
